<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>Ejemplo Factura</h2>
    </div>
    <div class="card-body">
      <app-invoice-view [id]="invoice.id" [name]="invoice.name"></app-invoice-view>
      <div class="row my-3">
        <div class="col">
          <app-client-view [client]="invoice.client"></app-client-view>
        </div>
        <div class="col">
          <app-company-view [company]="invoice.company"></app-company-view>
        </div>
      </div>
      <div>
        <app-list-item [items]="invoice.items"></app-list-item>
      </div>
    </div>
  </div>
</div>
